@font-face
	font-family 'MullerNarrow-Light'
	src url('../fonts/MullerNarrow-Light.otf')
	format('opentype')

@font-face
	font-family 'MullerNarrow-ExtraBold'
	src url('../fonts/MullerNarrow-ExtraBold.otf')
	format('opentype')
	